<div>

  <md-content>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span>Public transportation App</span>
        <!-- fill up the space between left and right area -->
        <span flex></span>
        <md-button>
          Right Bar Button
        </md-button>
      </div>
    </md-toolbar>
    <div layout="column" layout-align="center center">
    <h3 class="md-headline" >{{ clock.Time | date:'HH:mm:ss'}}</h3>
      <h3 class="md-headline" >{{ clock.Time | date:'EEEE dd, MMMM, yyyy'}}</h3>
    </div>
      <div layout="row" layout-sm="column" layout-align="center center" style="height: 50vh">
      <div flex>
        <md-input-container>
          <md-select ng-model="departure" placeholder="Departure">
            <md-option ng-value="opt" ng-repeat="opt in neighborhoods2">{{ opt }}</md-option>
          </md-select>
        </md-input-container>
      </div>
      <div flex>
        <md-input-container>
          <md-select ng-model="arrival" placeholder="Arrival">
            <md-option ng-value="opt" ng-repeat="opt in neighborhoods2">{{ opt }}</md-option>
          </md-select>
        </md-input-container>
      </div>
    </div>


  </md-content>

</div>
