<div>

  <md-content>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-icon aria-label="Menu" class="material-icons trip-option-icon">directions_railway</md-icon>
        <!-- fill up the space between left and right area -->
        <span flex></span>
        <h3 ng-if="main.possibleTrips" class="md-headline" >{{ clock.Time | date:'EEEE dd, MMMM, yyyy HH:mm'}}</h3>
      </div>
    </md-toolbar>
    <div ng-if="!main.possibleTrips">
    <div layout="column" layout-align="center center">
    <h3 class="md-headline" >{{ clock.Time | date:'HH:mm:ss'}}</h3>
      <h3 class="md-headline" >{{ clock.Time | date:'EEEE dd, MMMM, yyyy'}}</h3>
    </div>
      <div layout="row" layout-sm="column" layout-align="center center" style="height: 50vh">
      <div flex>
        <md-autocomplete required
          md-selected-item="main.selectedItemDeparture"
                         md-selected-item-change="main.departureSelected()"
          md-search-text="searchText"
          md-items="stop in main.stopsData.data | filter:(!!searchText || undefined) && {stop_name: searchText}"
          md-item-text="stop.stop_name" md-match-case-insensitive="true"
          md-select-on-match="true"
          md-min-length="0"
          placeholder="Departure">
          <md-item-template>
            <span md-highlight-text="searchText" md-highlight-flags="^i">{{stop.stop_name}}</span>
          </md-item-template>
          <md-not-found>
            No stops matching "{{searchText}}" were found.
          </md-not-found>
        </md-autocomplete>
      </div>
      <div flex>
        <md-autocomplete required
                         ng-disabled="!main.selectedItemDeparture"
                         md-selected-item="main.selectedItemArrival"
                         md-selected-item-change="main.arrivalSelected()"
                         md-search-text="searchTextArrival"
                         md-items="stop in main.stopsDataArrival.data | filter:(!!searchTextArrival || undefined) && {stop_name: searchTextArrival}"
                         md-item-text="stop.stop_name" md-match-case-insensitive="true"
                         md-select-on-match="true"
                         md-min-length="0"
                         placeholder="Arrival">
          <md-item-template>
            <span md-highlight-text="searchTextArrival" md-highlight-flags="^i">{{stop.stop_name}}</span>
          </md-item-template>
          <md-not-found>
            No stops matching "{{searchTextArrival}}" were found.
          </md-not-found>
        </md-autocomplete>
      </div>
    </div>
    </div>
      <md-list ng-if="main.possibleTrips.length">
        <md-list-item class="md-3-line" ng-repeat="trip in main.possibleTrips  | orderBy : Number(trip.departure.departure_time) | limitTo:10">
          <div class="md-list-item-text">
            <h2>{{trip.trip.trip_headsign}}</h2>
            <div layout="row" layout-sm="column" layout-align="center center" style="height: 30vh">
              <div flex>
            <md-icon aria-label="Menu" class="material-icons trip-option-icon">call_made</md-icon>
                <h2>{{trip.departure.departure_time | asDate | date:'HH:mm'}}</h2>
                <h4>{{main.selectedItemDeparture.stop_name}}</h4>
            </div>
              <div flex>
                <md-icon aria-label="Menu" class="material-icons trip-option-icon">call_received</md-icon>
                <h2>{{trip.arrival.arrival_time | asDate | date:'HH:mm'}}</h2>
                <h4>{{main.selectedItemArrival.stop_name}}</h4>
               </div>
            </div>
          </div>
          <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
      </md-list>
    <md-content ng-if="!main.possibleTrips.length && main.possibleTrips" flex layout-padding>
      <p>No trips found between the selected stops</p>
    </md-content>
  </md-content>

</div>
