<div>

  <md-content>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-icon ng-click="main.resetSearch()" aria-label="Menu" class="material-icons trip-option-icon">directions_railway</md-icon>
        <!-- fill up the space between left and right area -->
        <span flex></span>
        <h3 ng-if="main.possibleTrips && !main.selectedDate" class="md-headline" >{{ clock.Time | date:'EEEE dd, MMMM, yyyy HH:mm'}}</h3>
        <h3 ng-if="main.possibleTrips && main.selectedDate" class="md-headline" >{{ main.selectedDate | date:'EEEE dd, MMMM, yyyy HH:mm'}}</h3>
      </div>
    </md-toolbar>
    <div ng-if="!main.possibleTrips" class="animate-if">
      <form name="main.transportForm" novalidate ng-submit="main.arrivalSelected()" autocomplete="on">
    <div layout="column" layout-align="center center">
    <h3 class="md-headline" ng-if="main.changeDate=='off' && !main.selectedDate" class="animate-if">{{ clock.Time | date:'HH:mm'}}</h3>
      <h3 class="md-headline" ng-if="main.changeDate=='off' && !main.selectedDate" class="animate-if">{{ clock.Time | date:'EEEE dd, MMMM, yyyy'}}</h3>
      <h3 class="md-headline" ng-if="main.changeDate=='off' && main.selectedDate" class="animate-if">{{ main.selectedDate | date:'HH:mm'}}</h3>
      <h3 class="md-headline" ng-if="main.changeDate=='off' && main.selectedDate" class="animate-if">{{ main.selectedDate | date:'EEEE dd, MMMM, yyyy'}}</h3>
      <md-button ng-if="main.changeDate=='off'" ng-click="main.changeDate='on'" class="md-raised md-warn animate-if"> Other Date </md-button>
      <br>
      <time-date-picker ng-if="main.changeDate=='on'" class="animate-if" ng-model="main.selectedDate"
                        on-save="main.selectManualDate()" on-cancel="main.changeDate='off'"
                        display-twentyfour="true">
      </time-date-picker>
    </div>
      <div layout="row" layout-sm="column" layout-align="center center" style="height: 30vh">
      <div flex>
        <md-autocomplete required="true"
                         md-input-name="selectedItemDeparture"
                          md-selected-item="main.selectedItemDeparture"
                          md-selected-item-change="main.departureSelected()"
                          md-search-text="searchText"
                          md-items="stop in main.stopsData.data | filter:(!!searchText || undefined) && {stop_name: searchText}"
                          md-item-text="stop.stop_name" md-match-case-insensitive="true"
                          md-select-on-match="true"
                          md-min-length="0"
                          placeholder="Departure">
          <md-item-template>
            <span md-highlight-text="searchText" md-highlight-flags="^i">{{stop.stop_name}}</span>
          </md-item-template>
          <md-not-found>
            No stops matching "{{searchText}}" were found.
          </md-not-found>
        </md-autocomplete>
        <span class="help-block" ng-show="main.transportForm.selectedItemDeparture.$error.required && main.transportForm.selectedItemDeparture.$touched">Departure station is required.</span>
        <span class="help-block" ng-show="!main.selectedItemDeparture
        && main.transportForm.selectedItemDeparture.$touched
        && !main.transportForm.selectedItemDeparture.$error.required">You should choose a valid departure station.</span>
      </div>
      <div flex>
        <md-autocomplete required="true"
                         md-input-name="selectedItemArrival"
                         ng-disabled="!main.selectedItemDeparture"
                         md-selected-item="main.selectedItemArrival"
                         md-search-text="searchTextArrival"
                         md-items="stop in main.stopsDataArrival.data | filter:(!!searchTextArrival || undefined) && {stop_name: searchTextArrival}"
                         md-item-text="stop.stop_name" md-match-case-insensitive="true"
                         md-select-on-match="true"
                         md-min-length="0"
                         placeholder="Arrival">
          <md-item-template>
            <span md-highlight-text="searchTextArrival" md-highlight-flags="^i">{{stop.stop_name}}</span>
          </md-item-template>
          <md-not-found>
            No stops matching "{{searchTextArrival}}" were found.
          </md-not-found>
        </md-autocomplete>
        <span class="help-block" ng-show="main.transportForm.selectedItemArrival.$error.required && main.transportForm.selectedItemArrival.$touched">Arrival station is required.</span>
        <span class="help-block" ng-show="!main.selectedItemArrival
        && main.transportForm.selectedItemArrival.$touched
        && !main.transportForm.selectedItemArrival.$error.required">You should choose a valid arrival station.</span>
      </div>
    </div>
      <div layout="column"   layout-align="start center">
        <md-button ng-disabled="main.transportForm.$invalid || !main.selectedItemDeparture || !main.selectedItemArrival" type="submit" class="md-raised md-primary animate-if"> Search </md-button>
      </div>
        </form>
    </div>
      <trips-display></trips-display>
  </md-content>

</div>
